body {
  background-color: #EAF6F6;
}
hr {
  border-style: none;
  width: 4%;
  border-top-style: dotted;
  border-width: 7px;
  border-color: grey;
}
img {
  width: 160px;
  height: 160px;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
